<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>this person</string>
		<string>who</string>
		<string>what</string>
		<string>a younger sister</string>
		<string>job</string>
		<string>weather</string>
		<string>don&apos;t know</string>
	</array>
	<key>Kor</key>
	<array>
		<string>이 분</string>
		<string>누구</string>
		<string>무엇</string>
		<string>여동생</string>
		<string>직업</string>
		<string>날씨</string>
		<string>모르겠습니다</string>
	</array>
</dict>
</plist>
