<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>the Sun</string>
		<string>lonely</string>
		<string>window glass</string>
		<string>break</string>
		<string>buy</string>
		<string>live in</string>
		<string>be born</string>
	</array>
	<key>Kor</key>
	<array>
		<string>태양</string>
		<string>외롭습니다</string>
		<string>유리창</string>
		<string>깨다</string>
		<string>샀습니다</string>
		<string>살고 있습니다</string>
		<string>태어났습니다</string>
	</array>
</dict>
</plist>
