<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>traveling</string>
		<string>hobby</string>
		<string>bicycle</string>
		<string>to ride</string>
		<string>to sleep</string>
		<string>Do you like?</string>
		<string>hiking</string>
	</array>
	<key>Kor</key>
	<array>
		<string>여행</string>
		<string>취미</string>
		<string>자전거</string>
		<string>타는 것</string>
		<string>잠자는 것</string>
		<string>좋아하세요?</string>
		<string>등산</string>
	</array>
</dict>
</plist>
