<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>where do you go</string>
		<string>afternoon</string>
		<string>what do you do</string>
		<string>plan to</string>
		<string>will</string>
		<string>will go</string>
		<string>will eat</string>
	</array>
	<key>Kor</key>
	<array>
		<string>어디 가세요?</string>
		<string>오후에</string>
		<string>뭐하세요?</string>
		<string>계획이다</string>
		<string>예정이다</string>
		<string>갈 것이다</string>
		<string>먹을 것이다</string>
	</array>
</dict>
</plist>
