<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>help yourself</string>
		<string>keep quiet</string>
		<string>write</string>
		<string>letter</string>
		<string>forget</string>
		<string>reconcile</string>
		<string>start</string>
	</array>
	<key>Kor</key>
	<array>
		<string>많이 먹다</string>
		<string>조용히 해주십시오</string>
		<string>써주다</string>
		<string>편지</string>
		<string>잊어주다</string>
		<string>화해하다</string>
		<string>시작하다</string>
	</array>
</dict>
</plist>
