<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>weekends</string>
		<string>every morning</string>
		<string>wake up</string>
		<string>go to work</string>
		<string>work</string>
		<string>drink alcohol</string>
		<string>meet friends</string>
	</array>
	<key>Kor</key>
	<array>
		<string>주말</string>
		<string>매일 아침</string>
		<string>일어납니다</string>
		<string>출근합니다</string>
		<string>일을 합니다</string>
		<string>술을 마십니다</string>
		<string>친구를 만납니다</string>
	</array>
</dict>
</plist>
