<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>a younger brother</string>
		<string>have</string>
		<string>don&apos;t have</string>
		<string>dream</string>
		<string>cloud</string>
		<string>now</string>
		<string>be home (now)</string>
	</array>
	<key>Kor</key>
	<array>
		<string>남동생</string>
		<string>있습니다</string>
		<string>없습니다</string>
		<string>꿈</string>
		<string>구름</string>
		<string>지금</string>
		<string>집에 있습니다</string>
	</array>
</dict>
</plist>
