<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>Korean movie</string>
		<string>Korean food</string>
		<string>like</string>
		<string>don&apos;t like</string>
		<string>hate</string>
		<string>which movie</string>
		<string>favorite</string>
	</array>
	<key>Kor</key>
	<array>
		<string>한국 영화</string>
		<string>한국 음식</string>
		<string>좋아하다</string>
		<string>좋아하지 않다</string>
		<string>싫어하다</string>
		<string>어떤 영화</string>
		<string>제일 좋아하는</string>
	</array>
</dict>
</plist>
