<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>have free time?</string>
		<string>appointment</string>
		<string>watch movie</string>
		<string>go to a park</string>
		<string>shall we meet</string>
		<string>when</string>
		<string>where</string>
	</array>
	<key>Kor</key>
	<array>
		<string>시간 있습니까?</string>
		<string>약속</string>
		<string>영화보다</string>
		<string>공원에 가다</string>
		<string>만날까요?</string>
		<string>몇 시</string>
		<string>어디에서</string>
	</array>
</dict>
</plist>
