<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>climbing shoes</string>
		<string>would like to buy</string>
		<string>price</string>
		<string>how much</string>
		<string>size</string>
		<string>not fit</string>
		<string>expensive</string>
	</array>
	<key>Kor</key>
	<array>
		<string>등산화</string>
		<string>사고 싶은데요</string>
		<string>가격</string>
		<string>얼마인가요</string>
		<string>사이즈</string>
		<string>안맞네요</string>
		<string>비싸다</string>
	</array>
</dict>
</plist>
