<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Eng</key>
	<array>
		<string>now</string>
		<string>what time</string>
		<string>when</string>
		<string>begin</string>
		<string>how long</string>
		<string>continue</string>
		<string>for 40 years</string>
	</array>
	<key>Kor</key>
	<array>
		<string>지금</string>
		<string>몇 시</string>
		<string>언제</string>
		<string>시작하다</string>
		<string>얼마나 오래</string>
		<string>계속되다</string>
		<string>40년 동안</string>
	</array>
</dict>
</plist>
