<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<string>The sun rose and clouds have gone.</string>
		<string>Heavy rain poured, so the river flooded. </string>
		<string>Midnight passed but dad didn&apos;t come home. </string>
		<string>Go to the university then you will get a girl friend.</string>
		<string>After I went to the university, I couldn&apos;t get a girl friend.</string>
	</array>
	<key>QNumOfRows</key>
	<array>
		<integer>4</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>4</integer>
	</array>
	<key>QExamples1</key>
	<array>
		<string>해가</string>
		<string>달이</string>
		<string>별이</string>
		<string>뜨고</string>
		<string>지고</string>
		<string>날고</string>
		<string>구름이</string>
		<string>물결이</string>
		<string>햇빛이</string>
		<string>걷혔습니다.</string>
		<string>걷었습니다.</string>
		<string>비쳤습니다.</string>
	</array>
	<key>QExamples2</key>
	<array>
		<string>폭우가</string>
		<string>폭설이</string>
		<string>폭염이</string>
		<string>와서</string>
		<string>가서</string>
		<string>해서</string>
		<string>강이</string>
		<string>바다가</string>
		<string>하늘이</string>
		<string>범람했습니다.</string>
		<string>요동쳤습니다.</string>
		<string>멋있습니다.</string>
	</array>
	<key>QExamples3</key>
	<array>
		<string>자정이</string>
		<string>자상이</string>
		<string>낮이</string>
		<string>지났으나</string>
		<string>갔으나</string>
		<string>왔으나</string>
		<string>아빠는</string>
		<string>엄마는</string>
		<string>아저씨는</string>
		<string>돌아오지</string>
		<string>돌아가지</string>
		<string>돌아보지</string>
		<string>않았습니다.</string>
		<string>않았습니까.</string>
		<string>말았습니다.</string>
	</array>
	<key>QExamples4</key>
	<array>
		<string>대학에</string>
		<string>고등학교에</string>
		<string>대학이</string>
		<string>가면</string>
		<string>오면</string>
		<string>지나면</string>
		<string>여자 친구가</string>
		<string>남자 친구가</string>
		<string>사촌 동생이</string>
		<string>생길 것입니다.</string>
		<string>생기지 않을 것입니다.</string>
		<string>생기지 않았습니다.</string>
	</array>
	<key>QExamples5</key>
	<array>
		<string>대학에</string>
		<string>고등학교에</string>
		<string>대학이</string>
		<string>가면</string>
		<string>가도</string>
		<string>오면</string>
		<string>여자 친구가</string>
		<string>남자 친구가</string>
		<string>사촌 동생이</string>
		<string>생길 것입니다.</string>
		<string>생기지 않을 것입니다.</string>
		<string>생기지 않았습니다.</string>
	</array>
	<key>Answers</key>
	<array>
		<string>해가 뜨고 구름이 걷혔습니다.</string>
		<string>폭우가 와서 강이 범람했습니다.</string>
		<string>자정이 지났으나 아빠는 돌아오지 않았습니다.</string>
		<string>대학에 가면 여자 친구가 생길 것입니다.</string>
		<string>대학에 가도 여자 친구가 생기지 않았습니다.</string>
	</array>
</dict>
</plist>
