<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<string>I like Korean movies.</string>
		<string>I don&apos;t like Korean foods.</string>
		<string>I hate Korean movies.</string>
		<string>Which movie do you like?</string>
		<string>My favorite movie is Oldboy.</string>
	</array>
	<key>QNumOfRows</key>
	<array>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>4</integer>
	</array>
	<key>QExamples1</key>
	<array>
		<string>저는</string>
		<string>너는</string>
		<string>그는</string>
		<string>한국 영화를</string>
		<string>한국 음식을</string>
		<string>한국 음악을</string>
		<string>친절합니다.</string>
		<string>싫어합니다.</string>
		<string>좋아합니다.</string>
	</array>
	<key>QExamples2</key>
	<array>
		<string>저는</string>
		<string>너는</string>
		<string>그는</string>
		<string>한국 음식을</string>
		<string>한국 영화를</string>
		<string>한국 음악을</string>
		<string>좋아합니다.</string>
		<string>친절합니다.</string>
		<string>좋아하지 않습니다.</string>
	</array>
	<key>QExamples3</key>
	<array>
		<string>저는</string>
		<string>그는</string>
		<string>너는</string>
		<string>한국 영화를</string>
		<string>한국 음식을</string>
		<string>한국 음악을</string>
		<string>좋아합니다.</string>
		<string>친절합니다.</string>
		<string>싫어합니다.</string>
	</array>
	<key>QExamples4</key>
	<array>
		<string>저는</string>
		<string>너는</string>
		<string>어떤</string>
		<string>영화를</string>
		<string>음식을</string>
		<string>음악을</string>
		<string>무엇입니까?</string>
		<string>친절합니까?</string>
		<string>좋아하세요?</string>
	</array>
	<key>QExamples5</key>
	<array>
		<string>저는</string>
		<string>제일</string>
		<string>그는</string>
		<string>싫어하는</string>
		<string>좋아하는</string>
		<string>친절한</string>
		<string>영화는</string>
		<string>음식은</string>
		<string>음악은</string>
		<string>좋아합니다.</string>
		<string>올드보이입니다.</string>
		<string>친절합니다.</string>
	</array>
	<key>Answers</key>
	<array>
		<string>저는 한국 영화를 좋아합니다.</string>
		<string>저는 한국 음식을 좋아하지 않습니다.</string>
		<string>저는 한국 영화를 싫어합니다.</string>
		<string>어떤 영화를 좋아하세요?</string>
		<string>제일 좋아하는 영화는 올드보이입니다.</string>
	</array>
</dict>
</plist>
