<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<string>I would like to order.</string>
		<string>Would you show me a menu plate?</string>
		<string>We would like to have Bulgogi for 2 people.</string>
		<string>May I have more sauce?</string>
		<string>I will pay for this.</string>
	</array>
	<key>QNumOfRows</key>
	<array>
		<integer>2</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>2</integer>
	</array>
	<key>QExamples1</key>
	<array>
		<string>여기</string>
		<string>저기</string>
		<string>거기</string>
		<string>주문하겠습니다.</string>
		<string>먹겠습니다.</string>
		<string>계산하겠습니다.</string>
	</array>
	<key>QExamples2</key>
	<array>
		<string>메뉴판</string>
		<string>불고기판</string>
		<string>매너판</string>
		<string>보여주시겠습니까?</string>
		<string>보시겠습니까?</string>
		<string>잘 보셨습니까?</string>
	</array>
	<key>QExamples3</key>
	<array>
		<string>불고기</string>
		<string>떡갈비</string>
		<string>물고기</string>
		<string>2인분</string>
		<string>2일치</string>
		<string>3인분</string>
		<string>주십시오.</string>
		<string>나누십시오.</string>
		<string>하십시오.</string>
	</array>
	<key>QExamples4</key>
	<array>
		<string>소스를</string>
		<string>소설을</string>
		<string>불고기를</string>
		<string>더 주시겠습니까?</string>
		<string>덜 주시겠습니까?</string>
		<string>더 잡수시겠습니까?</string>
	</array>
	<key>QExamples5</key>
	<array>
		<string>계산은</string>
		<string>공사는</string>
		<string>먹는 것은</string>
		<string>제가 하겠습니다.</string>
		<string>니가 하겠습니다.</string>
		<string>제 동생이 하겠습니다.</string>
	</array>
	<key>Answers</key>
	<array>
		<string>여기 주문하겠습니다.</string>
		<string>메뉴판 보여주시겠습니까?</string>
		<string>불고기 2인분 주십시오.</string>
		<string>소스를 더 주시겠습니까?</string>
		<string>계산은 제가 하겠습니다.</string>
	</array>
</dict>
</plist>
